.one{
    color: red;
    text-align: center;
}
.two{
    color: purple;
}
.three{
    color: green;
}
.four{
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-image: url(123.jpg);
}
table{
    width: 100%;
    text-align: center;
    

}